div(class='card')
  div(class='products')
    div(class='product active'
        product-id='1'
        product-color='#D18B49')
      div(class='thumbnail')
        img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/Stag.svg')
      h1(class='title') The Magnificent Stag
      p(class='description') Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    div(class='product'
        product-id='2'
        product-color='#542F13')
      div(class='thumbnail')
        img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/Bear.svg')
      h1(class='title') The Courageous Bear
      p(class='description') Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    div(class='product'
        product-id='3'
        product-color='#A5AAAE')
      div(class='thumbnail')
        img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/Mouse.svg')
      h1(class='title') The Sneaky Mouse
      p(class='description') Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    div(class='product'
        product-id='4'
        product-color='#ED8D1F')
      div(class='thumbnail')
        img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/Fox.svg')
      h1(class='title') The Cunning Fox
      p(class='description') Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    div(class='product'
        product-id='5'
        product-color='#C4C8CB')
      div(class='thumbnail')
        img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/Rabbit.svg')
      h1(class='title') The Jumpy Rabbit
      p(class='description') Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
  div(class='footer')
    a(class='btn'
      id='prev'
      href='#'
      ripple=''
      ripple-color='#666666') Prev
    a(class='btn'
      id='next'
      href='#'
      ripple=''
      ripple-color='#666666') Next
